.aqua {
    background-color: aqua;
}
.brown {
    background-color: brown;
}
.coral {
    background-color: coral;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.gray {
    background-color: gray;
}
.cyan {
    background-color: cyan;
}
.blue {
    background-color: blue;
}
.fuchsia {
    background-color: fuchsia;
}
.lime {
    background-color: lime;
}
.whitesmoke {
    background-color: whitesmoke;
}

.darkgray {
    background-color: #222222;
}
.darkgray-1 {
    background-color: #333333;
}
.darkgray-2 {
    background-color: #444444;
}
.skyblue {
    background-color: rgb(135, 206, 235);
}
.magenta {
    background-color: rgb(255, 0, 255);
}